<!--<p>footer-main works!</p>-->
<div class="red_bg_footer">
  <div class="footer_content">
    <div class="menu_links">
      <h6>About</h6>
      <a routerLink="/aboutTheChurch" routerLinkActive="active"><p>OUR BELIEFS</p></a>
      <a routerLink="/aboutTheChurch" routerLinkActive="active"><p>OUR IMPACT</p></a>
      <a routerLink="/aboutTheChurch" routerLinkActive="active"><p>LEADERSHIP</p></a>
      <a routerLink="/aboutTheChurch" routerLinkActive="active"><p>LOCATIONS</p></a>
    </div>
    <div class="menu_links">
      <h6>Ministeries</h6>
      <a routerLink="/ministries" routerLinkActive="active"><p>MUSIC</p></a>
      <a routerLink="/ministries" routerLinkActive="active"><p>WELFARE</p></a>
      <a routerLink="/ministries" routerLinkActive="active"><p>MEDIA</p></a>
      <a routerLink="/ministries" routerLinkActive="active"><p>OUTREACH</p></a>
      <a routerLink="/ministries" routerLinkActive="active"><p>TENTMAKERS</p></a>
      <a routerLink="/ministries" routerLinkActive="active"><p>USHERING</p></a>
      <a routerLink="/ministries" routerLinkActive="active"><p>FOLLOW-UP</p></a>
    </div>
    <div class="menu_links">
      <h6>Resources</h6>
      <a routerLink="/purchasedBooks" routerLinkActive="active"><p>BOOKS STORE</p></a>
      <a routerLink="/pastSermonAudio" routerLinkActive="active"><p>PAST AUDIO SERMONS</p></a>
      <a routerLink="/pastSermonVideo" routerLinkActive="active"><p>PAST VIDEO SERMONS</p></a>
      <a routerLink="/dailyBibleReading" routerLinkActive="active"><p>DEVOTIONALS</p></a>
    </div>
    <div class="menu_links pad_down">
      <img src="../../assets/img/Heralds_white_logo.svg" alt="logo.png">
      <p class="address">TRANSQUILITY HOTELS, OPP. ENDZY EVENTS CENTER,
        NUNG OKU ROAD. UYO, AKS. NIGERIA   | <span>+2349032669933</span></p>
      <div class="social_media">
        <div class="dText">
          <p>Follow Us on Social Media</p>
        </div>
        <div class="dIcons flex">
          <a href="https://twitter.com/HeraldsNation"><img src="../../assets/img/twitter.svg" alt="twitter.png"></a>
          <a href="https://www.instagram.com/heraldsnation/"><img src="../../assets/img/instagram.svg" alt="instagram.png"></a>
          <a href="https://web.facebook.com/HeraldsNation"><img src="../../assets/img/facebook_footer.svg" alt="facebook.png"></a>
        </div>
      </div>
    </div>

  </div>
  <div class="lastBase">
    <img src="../../assets/img/copyright.svg" alt="copyright">
    <p>2020 Heralds International Christian Center. All Rights Reserved</p>
  </div>
</div>
