<app-header-homepage></app-header-homepage>


  <div class="homepage-section">
  <div class="homepage_header_section">
    <div class="churchMoto">
      <h3>Heralding the life of God in Christ</h3>
      <div class="underline"></div>
      <p>"Thou therefore, my son, be strong in the grace that is in Christ Jesus.
        And the things that thou hast heard of me among many witnesses, the
        same commit thou to faithful men, who shall be able to teach others also." <span>- 2 TIMOTHY 2:2</span></p>
    </div>
    <div class="red_line"></div>
    <div class="chat-icon"></div>
  </div>

  <div class="redirection-link first_flex_control">
        <div class="listen-link right_spacing">
          <img src="../../assets/img/links_homepage/listen_cover.png" alt="listen_cover">
        </div>
        <div class="read-link right_spacing">
          <img src="../../assets/img/links_homepage/Read_cover.png" alt="read_cover">
        </div>
        <div class="locate-link right_spacing">
          <img src="../../assets/img/links_homepage/locate_cover.png" alt="locate_cover">
        </div>
        <div class="join-link right_spacing">
          <img src="../../assets/img/links_homepage/join_cover.png" alt="join_cover">
        </div>
        <div class="purchase-book-link right_spacing">
          <img src="../../assets/img/links_homepage/purchase_cover.png" alt="purchase_cover">
        </div>
        <div class="visit-ministries_within_the_church-link right_spacing">
          <img src="../../assets/img/links_homepage/visit_cover.png" alt="ministries_within_the_church">
        </div>
  </div>
  <div class="red_line_base"></div>
  <div class="about_the_church-section">
    <div class="about_description-text">
      <h3>
        About the Church
      </h3>
      <div class="underline_about"></div>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et
        accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut
      </p>
    </div>
    <div class="Description-video">
      <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
      </iframe>
    </div>
  </div>


</div>

<app-footer-sub [content_footer] = "pageContent.subfooter"></app-footer-sub>
<app-footer-main></app-footer-main>

