<!--<p>footer-sub works!</p>-->

<div class="subfooter-bg-overlay">
  <div class="subfooter_image_text">

    <!--
    <div class="serviceTimes_img">
      <img src="{{content_footer.pastorImg_link}}" alt="">
    </div>
    <div class="serviceTimes_text">
      <h4>{{content_footer.title}}</h4>
      <P>{{content_footer.subtitle}}</P>
      <div class="underBorder"></div>
      <h5>{{content_footer.worshipService_main}} <span>{{content_footer.worshipService_span}}</span></h5>
      <h5>{{content_footer.weeklyService_main}}<span>{{content_footer.weeklyService_span}} </span></h5>
      <div class="redirect_links">
        <a href="#">{{content_footer.heraldsLiveLink}}</a>
        <a href="#"><img src="{{content_footer.mixlrLink}}" alt=""></a>
        <a href="#"><img src="{{content_footer.facebookLiveLink}}" alt=""></a>
        <a href="#"><img src="{{content_footer.youtubeLink}}" alt=""></a>
      </div>
    </div>
    -->
  </div>
</div>
