<!--<p>footer-sub works!</p>-->

<div class="subfooter-bg-overlay">
  <div class="subfooter_image_text">
    <div class="serviceTimes_img">
      <img src="{{content.pastorImg_link}}" alt="">
    </div>
    <div class="serviceTimes_text">
      <h4>{{content.title}}</h4>
      <P>{{content.subtitle}}</P>
      <div class="underBorder"></div>
      <h5>{{content.worshipService_main}} <span>{{content.worshipService_span}}</span></h5>
      <h5>{{content.weeklyService_main}}<span>{{content.weeklyService_span}} </span></h5>
      <div class="redirect_links">
        <a href="#">{{content.heraldsLiveLink}}</a>
        <a href="#"><img src="{{content.mixlrLink}}" alt=""></a>
        <a href="#"><img src="{{content.facebookLiveLink}}" alt=""></a>
        <a href="#"><img src="{{content.youtubeLink}}" alt=""></a>
      </div>
    </div>
  </div>
</div>
