*,
*::before,
*::after {
  box-sizing: border-box;
}


.giveContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 4% 8px 4%;

  }

  .CountryChoiceDiv{
    padding: 2%;
    background-color : wheat;
  }

  select{
    border: none;
    border-bottom: 1px solid rgb(121, 121, 121);
    padding: 2%;
    width: 100%;
    background-color: white;
  }

  .select{


    border-radius: 3px;
    overflow: hidden;

  }


  .select select {
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select select:focus {
    outline: none;
}

.SateliteMemberDetails{
  margin-top: 8px;
  border: 1px solid rgb(94, 94, 94);
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


  .top_decor{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .top_decor img{
    margin-top: 2%;
    width: 40px;
  }

  .red_top_decor{
    margin-top: 2%;
    background-color: #C1272D;
    height: 1px;
    margin-left: 4%;
  }

  p{
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
  }

  h3{
    margin: 2% 0 1% 0;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    color:   #0d674e;
  }

  .below_decor{
    background-color:  #C1272D;
    height: 1px;
    margin-bottom: 6%;
    margin-right: 4%;
  }

  .account_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }

  .CountryInformationDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .countryDiv{
    width: 45%;
  }

  .stateDiv{
    width: 20%;
  }

  small{
    color: red;
    font-size: 12px
  }

  span{
    color: #C1272D;
  }


  .SateliteMemberDetails{
    display: flex;
    flex-direction: column;
  }

  .headtxt{
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .headtxt img{
    width: 200px;
  }

  .headtxt h3{
    font-size: 25px;
    color: #000;
    margin-left: 2%;
  }

  .is-invalid{
    border: 1px solid red;
  }

  .SegmentDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bodyInfo{
    padding: 2%;
  }

  .SpaceUnder{
    margin-bottom: 30px;
  }

  .addressFull{
    width: 100%;
  }

  input,select{
    margin-top: 10px;
  }

  input{
    padding: 2%;
  }

  .LDT{
    width: 100%;
  }
  .surnameDiv, .firstnameDiv, .middlename{
    width: 32%;
  }

  .genderDiv, .phoneNumberDiv{
    width: 49%;
  }

  .GDT{
    border: 1px solid black;
  }

  .dob{
    width: 35%;
  }

  .emailA{
    width: 63%;
  }

  .MStatus{
    width: 25%;
  }

  .Occupation{
    width: 73%;
  }

  .MStatus select{
    margin-top: 25px;
  }

  .NOK_number{
    width: 35%;
  }

  .NOKname{
    width: 63%;
  }

  .Submitbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 3% 0;
  }

  .Submitbutton button{
    padding: 1% 15%;
    color: white;
    background-color: #C1272D;
    border: none;
    border-radius: 4px;
  }

  .redT{
    color: #C1272D;
    font-weight: 400;
  }


  @media (min-width:1611px) {


  }

  @media (max-width:1268px) {


  }

  @media (max-width:1078px) {


  }

  @media (max-width:950px) {


  }

  @media (max-width:816px) {
    .top_decor img{
      width: 20px;
    }

    p{
      font-size: 13px;
      line-height: 18px;
    }

    h3{
      margin: 5% 0 1% 0;
      letter-spacing: 1px;
      font-size: 15px;
    }

  }

  @media (max-width:685px) {

  }

  @media (max-width:613px) {
    .top_decor img{
      width: 20px;
    }

    p{
      font-size: 12px;
      line-height: 18px;
    }

    h3{
      margin: 5% 0 1% 0;
      letter-spacing: 1px;
      font-size: 14px;
    }

  }

  @media (max-width:513px) {

  }

  @media (max-width:415px) {

    .top_decor img{
      width: 15px;
    }

    p{
      font-size: 11px;
      line-height: 18px;
    }

    h3{
      margin: 6% 0 1% 0;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 14px;
    }

  }

  @media (max-width:320px) {

  }
