<!--<p>header-homepage works!</p>-->

<div class="vid-bg-section">
    <div class="vid-bg-overlay">
        <video src="../../assets/video/vid.mp4" class="vid-bg-clip" autoplay loop muted></video>
    </div>
    <div class="banner-gradient">
        <div class="banner-text">
            <h2>Heralds International Christian Center</h2>
            <p>Raising the total man in Christ according to God's eternal plan</p>
            <div class="banner-links">
                <a href="#" class="btn-banner pst-sermons">PAST SERMONS</a>
            <a href="#" class="btn-banner events-cal">EVENTS CALENDAR</a>
            </div>
        </div>
    </div>
    <div class="overlay-grad"></div>
</div>
