<app-header-others [content] = "pageContent"></app-header-others>
<div class="aboutUs_section">
  <div class="top_decor">
    <img src="../../assets/img/ministries/Icon ionic-md-star-half.svg" alt="Ministries">
  </div>
  <div class="red_top_decor"></div>
  <div class="aboutContent">
    <div class="left">
      <img src="../../assets/img/ministries/music.png" alt="Music_img">
      <div class="BelieveText">
        <p><span>MUSIC</span> Ministry: The Music Ministry of Heralds International Christian Centre has a mandate of expressing the GOD’s Word in songs. A Scripture of focus is Colossians 3:16, which reads:
          <br>
          <br>

          “Let the word of Christ dwell in you richly in all wisdom, teaching and admonishing one another in psalms and hymns and spiritual songs, singing with grace in your hearts to the LORD.”
          <br>
          <br>

          For the sake of organization and structure, the Ministry oversees and coordinates singing sessions in the Church. The Ministry however does not only include the Choir, but also a band of musicians.
          <br>
          <br>

          To be effective in the above task and such others as may be required of us as stewards of GOD’s work, Ministry members undergo periodic trainings and exercises at rehearsals, retreats, and workshops. This ensures that members remain spiritually alert and to sharpened musically.
          <br>
          <br>
          Our goal as a Ministry is to actively contribute to what GOD is doing in Church, as we supply our quota in our spiritual and musical roles.</p>
      </div>
    </div>

    <div class="right space-top" >
      <img src="../../assets/img/ministries/Welfare.png" alt="Welfare img">
      <div class="BelieveText">
        <p><span>WELFARE AND PASTORAL CARE</span> Ministry: The Welfare and Pastoral Care Ministry caters for the general welfare of the Church as it relates to Pastors, Ministers, and Stewards.
          <br>
          <br>
          The Ministry sees to the physical needs of the Pastors, Ministers and Stewards in providing care materials they need before, during and after every Service.
          This is to ensure their utmost comfort and alertness during Services.
          <br>
          <br>
          We periodically support church members in need with basic necessities within our means by distributing care materials and monetary support.
          <br>
          <br>
          And to do these effectively, the ministry is divided into sub-groups to ensure every needy member is reached out to and cared for.
          They are:
          <br>
          <br>
          <a class = "mbold mspace">1.</a> Pastoral Care
          <a class = "mbold mspace">2.</a> Minister's Welfare
          <a class = "mbold mspace">3.</a> General Church Care
          <a class = "mbold mspace">4.</a> Meeting Needs
          <a class = "mbold mspace">5.</a> Health Care
          <a class = "mbold mspace">6.</a> Celebration and Events</p>
      </div>

    </div>

    <div class="left space-top">
      <img src="../../assets/img/ministries/media.png" alt="Media img">
      <div class="BelieveText">
        <p><span>MULTIMEDIA</span> Ministry: The multimedia ministry of HeraldsNation is saddled with the responsibility of handling all media and media-related undertakings of the church.
          <br>
          <br>
          We aim to communicate church teachings in all available technological means and media outlets.
          <br>
          <br>
          This communication will be done via our social media platforms, telegram channels, website and Google Drive;
          <br>
          <br>
          To aid the smooth running of the ministry, we are divided into 3 sub-ministries, which are: Publicity, Design, Content Creation and Audio/Visual.</p>
      </div>
    </div>

    <div class="right space-top" >
      <img src="../../assets/img/ministries/outreach.png" alt="Outreach img">
      <div class="BelieveText">
        <p><span>OUTREACH</span> Ministry: The Vision of Heralds International Christian Centre is to raise the Total Man in Christ; The outreach ministry drives the church in taking this vision to the souls out there.
          <br>
          <br>
          We can only raise a total man,  in Christ; hence we take the gospel of Our Lord Jesus to all and sundry, as instructed by our Lord Jesus(Mat. 28:13-20) i.e He died for our sin,  was buried and was raised on the third day for our justification. Glory to God!
          <br>
          <br>
          We also reach out to believers who are unstable,  who are in need of a family and a proper discipleship system,  where they will be properly forged in the fires of the Word as taught by our Vanguard.
          <br>
          <br>
          We achieve all these by taking to the streets on a one-on-one Evangelism, outreach meetings on campuses and every other means available to us.</p>
      </div>

    </div>

    <div class="left space-top">
      <img src="../../assets/img/ministries/Tentmaker.png" alt="Tentmakers">
      <div class="BelieveText">
        <p><span>TENTMAKER</span> ministry In tandem with our mission of raising the total man in Christ according to God's eternal plan, this ministry is saddled with the responsibility of seeing to it that every member of the church rules in things natural.
          <br>
          <br>
          This we do by ensuring that everyone has, acquires, hones, is dexterous, and can monetize at least a skill and/or craft. This is in line with the name of the ministry, Tentmakers, which is a craft and the occupation of Apostle Paul, Aquila and Priscilla.
          <br>
          <br>
         Pursuant to this, we occasionally organize trainings on different skills both digital and non digital anchored by adroit facilitators, roll out relevant and beneficial employment opportunities and pass across vital information along this line, all to the end that every member has something to do and are well-to-do in the society.</p>
      </div>
    </div>

    <div class="right space-top" >
      <img src="../../assets/img/ministries/usher.png" alt="Ushering img">
      <div class="BelieveText">
        <p><span>THE USHERING</span> Ministry: The Ushering Ministry is the arm of the church that is responsible for the maintenance of order in church meetings. The ministry is an important arm of the church which ensures the smooth flow of church meetings, thereby aiding the effective ministry of our Pastor; and the receptiveness of the congregation.
          <br>
          <br>
          We pay attention to the people ensuring that they are warmly welcomed and that distraction during meetings is largely minimized.
          <br>
          <br>
          As order maintainers, our duties include;
          <br>
          <a class = "mbold mspace">1.</a> Proper arrangement and cleaning of seats;
          <a class = "mbold mspace">2.</a> Passing of the offering baskets during offering time and
          <a class = "mbold mspace">3.</a> Accurate record of attendance in every service.</p>
      </div>

    </div>

    <div class="left space-top">
      <img src="../../assets/img/ministries/follow-up.png" alt="followUp">
      <div class="BelieveText">
        <p><span>FOLLOW UP</span> Ministry: The Follow-up ministry is one very vital part of the HeraldsNation. The hallmark of the goal of the follow-up ministry is connecting with the first timers, making sure they are well received and that they understand the teachings from the service. Importantly too, the ministry helps these new ones through the decision making process of becoming a member of Heralds International Christian Centre.
          <br>
          <br>
          To aid in a well balanced conversion rate, we reach out to first timers, not just once, but on a consistent basis, checking on them to be sure they're doing well and also get to know them. We make them feel at home and comfortable with us. This ministry is the soft board between being a first timer and being a Herald.</p>
      </div>
    </div>
    <div class="right space-top">
      <img src="../../assets/img/ministries/teaching.png" alt="teaching">
      <div class="BelieveText">
        <p><span>TEACHING</span> Ministry: At HeraldsNation, the chief of the cultures we hold dearly is the Culture of the Word, as we believe that proper understanding of the Word of God will, in the long run, inform all of the believer’s activities.
          <br>
          <br>
          As a subset of the Church, the Teaching Ministry is saddled with the responsibilities of providing foundational Bible knowledge to new members of the Church via the Petra Academy arm and also training potential leaders via the Katartismos arm of the Ministry.</p>
      </div>
    </div>

    <div class="left space-top">
      <img src="../../assets/img/ministries/ChurchCare.png" alt="church_care_image">
      <div class="BelieveText">
        <p><span>CHURCH CARE</span> Ministry: As the name implies, we take care of the church. The church here is the physical building (where we gather for worship). The ministry ensures that the location to be used for service is properly set.
          <br>
          <br>
          We also keep  the belongings of the church, making sure of their safety for regular use. Also we make sure that the location used for service (whether indoor or outdoor) is safe and that there's no impending danger that could course harm or disrupt the gathering.</p>
      </div>
    </div>

    <div class="right space-top">
      <img src="../../assets/img/ministries/protocol.png" alt="teaching">
      <div class="BelieveText">
        <p><span>PROTOCOL</span> Ministry: The Protocol Ministry is an arm of the church saddled with the responsibility of catering for the well-being of the Resident Pastor and facilitate his ministry by providing requisite support services to assist him/her deliver God`s message with no hindrance. The Protocol Ministers at each service pay close attention to the pastors, so to identity and respond to the pastor’s need during the service.
          <br>
          <br>
          In addition, the ministry is also tasked with providing a hospitable and conducive environment for the Church Pastors, visiting Guest Ministers (both Local and International) and with the responsibility of making them feel at home outside their home.
          <br>
          <br>
         Below are the general duties of the Protocol Ministers
         <br>
         <a class = "mbold">1.</a> Attending all meetings and services in the Church.
         <a class = "mbold mspace">2.</a> Following the routine duties according to the fundamental and principle ideas of the church.
         <a class = "mbold mspace">3.</a> Being in charge of protocol generally for a pastor.
         <a class = "mbold mspace">4.</a> Protocolling for guest ministers
         <a class = "mbold mspace">5.</a> Coordinating people who wish to meet a pastor.
         <a class = "mbold mspace">6.</a> Manning all the public areas in the building, including the entrance and sanctuary (the area around the altar).
         <a class = "mbold mspace">7.</a> Identifying ministers and other special guests and honouring them appropriately.
         <a class = "mbold mspace">8.</a> Following the formalities during special meetings.
         <a class = "mbold mspace">9.</a> Taking care of a pastor at all the stages of the event, meeting or service in or outside the building.
         <a class = "mbold mspace">10.</a> Taking care of guest ministers (processing their documents, arranging their accommodation, transportation and solving other logistics issues).
         <a class = "mbold mspace">11.</a> Being always polite and helpful to the pastor and ministers.
         <a class = "mbold mspace">12.</a> Performing all assignments made by the pastor.</p>
      </div>
    </div>

    <div class="left space-top">
      <img src="../../assets/img/ministries/Children.png" alt="Children_Ministry_image">
      <div class="BelieveText">
        <p><span>CHILDREN</span> Ministry: In line with the vision of HeraldsNation, to raise the total man in Christ; our role as a ministry is to communicate this vision to our children in clear and simple terms.
          <br>
          <br>
          We aim to raise children who will be sound in doctrine; full of the Holy Ghost and that will excel in the secular world by expressing the nature of God in wisdom, strength, and  intelligence.
          <br>
          <br>
          This we will do primarily, by teaching them God's word as taught to us by our Vanguard;
          <br>
          <br>
          Engaging them in spiritual activities like prayers, evangelism, healing outreaches and;
          <br>
          <br>
          Also engaging them in fun and educational activities to boost their cognitive abilities, hence making them useful to themselves and the world around them.</p>
      </div>
    </div>

  <div class="below_decor"></div>
</div>

<app-footer-sub></app-footer-sub>
<app-footer-main></app-footer-main>
