<app-header-others [content] = "pageContent"></app-header-others>
<div class="give_section">
  <div class="top_decor">
    <img src="../../assets/img/give_page/Icon awesome-money-check.svg" alt="">
  </div>
  <div class="red_top_decor"></div>
  <div class="giveContent">
    <div class="Why_is_giving_important?">
        <h3>Why is giving important?</h3>
        <p>As a Church, we have a platform set up to foster giving among members and non-members of the Church. This system is termed "Partnership".

          <b>Partnership is sharing the burden of a vision to see and bring it to its accomplishment, making it easy.</b>  This is done in sacrifices of <b>time,</b><b> resources</b> and <b>labour!</b>

          Hence, in line with the vision and mission at HeraldsNation of heralding the life of God and raising the total man in Christ, these will only be accomplished by the sacrifices of men via their resources in ensuring that the word of this truth is sent forth from us to the different parts of the world.

          There were deliberate, systematic and consistent givers to the ministry of Jesus and Apostle Paul in their days. People partnered with Paul and gave to his ministry on a regular basis. <b>(See Phil. 4:19 & 1Cor 16:2).</b>

          One of the reasons God blesses you is so that you can, with your resources, further His kingdom on earth. It is therefore a proper thing to give and commit your resources to God's work.

          In this regard, the church has two systems of partnership viz. <b>Venue Partnership and General Partnership.</b>

          Venue Partnership system is the system that <b>ensures that our venue rent is taken care of and paid for as and when due.</b> This ranges from <b>Five Thousand Naira Only (₦5,000) and above</b>, as you prosper. It is however not compulsory for all.

          <b>General Partnership system is that which ensures the upkeep of the church, the maintenance of all the items we use, and the running of our day to day expenses.</b>

          This is open to all and it is based on how much you can give deliberately and cheerfully on a <b>monthly basis.</b>

          If you want to be a part of this, <b>kindly contact +2348109300255,</b> and if you want to give, kindly see <b>account details of the church below:</b>
          </p>
    </div>

    <div class="account_details">
      <div>
        <h3>Church account details</h3>
        <p>Acct. Name: <strong> Oyeniyi Oluwagbemileke Emmanuel </strong></p>
        <p>Acct. No: <strong> 6039847019 </strong></p>
        <p>Bank name: <strong>Fcmb </strong></p>
      </div>
    </div>

    <div class="leaderShipContent">
      <br>
        <h3></h3>
        <p>One thing you must always remember is that your <b>giving is an act of faith,</b> and what you give is a seed that is sown which goes forth to multiply and yield a great harvest for you.

          Thank you.
        </p>
    </div>

  </div>
  <div class="below_decor"></div>
</div>
<app-footer-sub></app-footer-sub>
<app-footer-main></app-footer-main>

