<!--<p>header-others works!</p>-->
<div class="vid-bg-section">
  <div class="img-bg-overlay">
      <img src={{content.header.img_src}} alt="header">
      <!--<video src="../../assets/video/vid.mp4" class="vid-bg-clip" autoplay loop muted></video>-->
  </div>
  <div class="others-banner-gradient">
      <div class="banner-text">
          <h2>{{content.header.title}}</h2>
          <p>{{content.header.subtitle}}</p>

      </div>
  </div>
  <div class="overlay-grad"></div>
  <div class="baseOtherHeader red_top_bar">
    <div class="audioVideo">
      <a href="#">{{content.header.videobtn}}</a>
      <a href="#">{{content.header.audiobtn}}</a>
    </div>
    <div class="logoutbtn">
      <a href="#">{{content.leader.logOutbtn}}</a>
    </div>
  </div>
</div>
