a, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.audiosS{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #0d674e10;
  min-width: 80%;
}

.audioThumbnails{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px 4px;
}

a{
  text-decoration: none;
  font-style: none;
}

.TitleSection{
  padding: 8px 8px 0 8px;
}

.TitleStyle{
  margin-top: 4px;
  color: #CB6165;
}

a:hover{
  cursor: pointer;
}
.testHover:hover{
  cursor: pointer;
}

.audioThumbnails{
  transition: .5s ease;
}
.audioThumbnails:hover{
  transform: scale(1.02);
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;
}

.container {
  position: relative;
}

.testHover{
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container:hover .testHover {
  opacity: 0.5;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.justMouse{
  cursor: pointer;
}

.DownloadLink{
  color: #0D674E;
  font-size: 14px;
}

.theHeader{
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.centralizeSearch input[type=text]{
  padding: 15px 14px;
  display: inline-block;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
}

.SearchIcon{
  padding: 15px 14px;
  border: 1px solid #ccc;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #C1272D;
  margin-top: 2%;
}
